@mixin background($value) {
    background: $value;
    border: 1px solid;
    @content ;
}

@mixin padding_($v1, $v2, $v3, $v4) {
    padding-top: $v1;
    padding-bottom: $v2;
    padding-right: $v3;
    padding-left: $v4;
}

@mixin margin_($v1, $v2, $v3, $v4) {
    margin-top: $v1;
    margin-bottom: $v2;
    margin-right: $v3;
    margin-left: $v4;
}

@mixin padding($value) {
    padding: $value;
}

@mixin flex() {
    display: flex;
}

@mixin text-center() {
    text-align: center;
}

@mixin common() {
    @content ;
}

@mixin height_width($height, $width) {
    height: $height;
    width: $width;
}