input, button {
  height: 70%;
  width: 100%;
  border: none;
}

button {
  width: 80%;
  background-color: white;
}

.container {
  height: 98%;
  width: 50%;
  background: red;
  border: 1px solid;
  position: absolute;
  left: 24%;
}

.container .div_1 {
  background: white;
  border: 1px solid;
  height: 10%;
  width: 100%;
  text-align: center;
}

.container .div_2 {
  background: orange;
  border: 1px solid;
  height: 30%;
  width: 100%;
}

.container .div_2 .b_21 {
  height: 30%;
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .div_2 .b_21 .b_211 {
  height: 70%;
  width: 70%;
}

.container .div_2 .b_21 .b_212 {
  height: 70%;
  width: 25%;
  text-align: right;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 10%;
  padding-left: 0;
}

.container .div_2 .b_22 {
  height: 30%;
  width: 100%;
  text-align: center;
}

.container .div_3 {
  background: pink;
  border: 1px solid;
  height: 30%;
  width: 100%;
}

.container .div_3 .b_31 {
  height: 40%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .div_3 .b_31 .b_311 {
  height: 80%;
  width: 10%;
  background: white;
  border: 1px solid;
  margin-top: 1%;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 3%;
}

.container .div_3 .b_31 .b_312 {
  height: 80%;
  width: 10%;
  background: white;
  border: 1px solid;
  margin-top: 1%;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 74%;
}

.container .div_3 .b_32 {
  height: 20%;
  width: 100%;
  text-align: center;
}

.container .div_3 .b_33 {
  height: 40%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .div_3 .b_33 .b_331 {
  height: 80%;
  width: 10%;
  background: white;
  border: 1px solid;
  margin-top: 1%;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 3%;
}

.container .div_3 .b_33 .b_332 {
  height: 80%;
  width: 10%;
  background: white;
  border: 1px solid;
  margin-top: 1%;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 74%;
}

.container .div_4 {
  background: green;
  border: 1px solid;
  height: 30%;
  width: 100%;
}

.container .div_4 .b_41 {
  height: 20%;
  width: 100%;
  text-align: center;
}

.container .div_4 .b_42 {
  height: 40%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .div_4 .b_42 div {
  height: 80%;
  width: 80%;
  background: white;
  border: 1px solid;
  margin-top: 1%;
  margin-bottom: 0;
  margin-right: 5%;
  margin-left: 5%;
}
/*# sourceMappingURL=style.css.map */