    @import "firsts";
    input {
        height: 70%;
        width: 100%;
        border: none;
    }
    
    button {
        @extend input;
    }
    
    button {
        width: 80%;
        background-color: white;
    }
    
    .container {
        @include height_width( 98%, 50%);
        @include background(red);
        @include common() {
            position: absolute;
            left: 24%;
        }
        ;
        .div_1 {
            @include background(white);
            @include height_width( 10%, 100%);
            @include text-center();
        }
        .div_2 {
            @include background(orange);
            @include height_width( 30%, 100%);
            .b_21 {
                @include height_width( 30%, 100%);
                @include padding(10px);
                @include flex();
                .b_211 {
                    @include height_width( 70%, 70%);
                }
                .b_212 {
                    @include height_width( 70%, 25%);
                    text-align: right;
                    @include padding_(0, 0, 10%, 0);
                }
            }
            .b_22 {
                @include height_width( 30%, 100%);
                @include text-center();
            }
        }
        .div_3 {
            @include background(pink);
            @include height_width( 30%, 100%);
            .b_31 {
                @include height_width( 40%, 100%);
                @include flex();
                .b_311 {
                    @include height_width( 80%, 10%);
                    @include background(white);
                    @include margin_(1%, 0, 0, 3%);
                }
                .b_312 {
                    @include height_width( 80%, 10%);
                    @include background(white);
                    @include margin_(1%, 0, 0, 74%);
                }
            }
            .b_32 {
                @include height_width( 20%, 100%);
                @include text-center();
            }
            .b_33 {
                @include height_width( 40%, 100%);
                @include flex();
                .b_331 {
                    @include height_width( 80%, 10%);
                    @include background(white);
                    @include margin_(1%, 0, 0, 3%);
                }
                .b_332 {
                    @include height_width( 80%, 10%);
                    @include background(white);
                    @include margin_(1%, 0, 0, 74%);
                }
            }
        }
        .div_4 {
            @include background(green);
            @include height_width( 30%, 100%);
            .b_41 {
                @include height_width( 20%, 100%);
                @include text-center();
            }
            .b_42 {
                @include height_width( 40%, 100%);
                @include flex();
                div {
                    @include height_width( 80%, 80%);
                    @include background(white);
                    @include margin_(1%, 0, 5%, 5%);
                }
            }
        }
    }